html {
    background-color: black;
    color: white;
    margin: 1rem;
}

/* GLOBAL */
a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 6rem 0 4rem;
    display: none;
}

/* NAVBAR */
.navbar {
    margin-bottom: 10rem;
    list-style: none;
    font-size: large;
}

.navbar>li {
    padding: 2rem;
}

.logo {
    float: left;
}

.navbar>.right {
    float: right;
}

.navbar>li:hover {
    background-color: #3b1204;
}

/* Meilleur film */
.bestFilm {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.bestFilm img {
    width: 100%;
}

/* Carrousel 1 */
.carrousel {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.carrouselContainer {
    width: 150%;
}

.slide {
    float: left;
    text-align: center;
    width: 25%;
    display: none;
}

.active {
    display: block;
}

.slide img {
    border: solid gray;
    text-align: center;
    width: 80%;
}

.slide img:hover {
    cursor: pointer;
}

/* Boutons */

button {
    cursor: pointer;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

button img {
    width: 100%;
}

/* Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #7d7575;
    margin: 8rem;
    color: black;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#title {
    font-weight: bold;
    font-size: 28px;
}

.flex_modal {
    display: flex;
    align-content: center;
    text-align: center;
}

.modal_img {
    width: 30%;
}
.modal_info {
    width: 80%;
    text-align: left;
}

@media only screen and (max-width: 1080px) {
    body {
        font-size: 12px;
    }
    .flex_modal {
        flex-direction: column;
    }
    .modal_img {
        width: 100%;
        align-content: center;
    }
}